{% if section.settings.message %}
  {% comment %}
    ---------------------------------------------------------

     Show alternate messages in announcement bar if present

    ---------------------------------------------------------
  {% endcomment %}

  {% if section.settings.message_text_alt and section.settings.message_link_alt and section.settings.fade_animation %}
    <script>
      const messages = [
        { text: `{{ section.settings.message_text_alt }}`, link: `{{ section.settings.message_link_alt }}` },
        { text: `{{ section.settings.message_text }}`, link: `{{ section.settings.message_link }}` },
      ];

      messages.forEach((msg, i) => {
        setTimeout(() => {
          $('.announsment_bar_top > span').css('opacity', 1);
          $('#announcement-bar-message').text(msg.text);
          $('#announcement-bar-link').attr('href', msg.link);
        }, 4000 * (i + 2));
        setTimeout(() => {
          $('.announsment_bar_top > span').css('opacity', 0);
        }, 3500 * (i + 2));
      });

      setInterval(() => {
        messages.forEach((msg, i) => {
          setTimeout(() => {
            $('.announsment_bar_top > span').css('opacity', 1);
            $('#announcement-bar-message').text(msg.text);
            $('#announcement-bar-link').attr('href', msg.link);
          }, 4000 * (i + 2));
          setTimeout(() => {
            $('.announsment_bar_top > span').css('opacity', 0);
          }, 3500 * (i + 2));
        });
      }, 10000);
    </script>
  {% endif %}

  <a id='announcement-bar-link' href='{{ section.settings.message_link }}' class='announsment_bar_top'>
    <span
      id='announcement-bar-message'
      {% if section.settings.slide_animation %}
        class='animate-translate-x'
      {% endif %}
    >
      {{ section.settings.message_text | escape }}
    </span>
  </a>
{% endif %}
