<div class='section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}'>
  {%- paginate collection.products by 50 -%}
    {% comment %} Sort is the first tabbable element when filter type is vertical {% endcomment %}
    {%- if section.settings.enable_sorting and section.settings.filter_type == 'vertical' -%}
      <facet-filters-form class='facets facets-vertical-sort max-w-7xl mx-auto px-6 md:px-20 small-hide'>
        <form class='facets-vertical-form' id='FacetSortForm'>
          <div class='facet-filters sorting caption'>
            <div class='facet-filters__field'>
              <h2 class='facet-filters__label caption-large text-body'>
                <label for='SortBy'>{{ 'products.facets.sort_by_label' | t }}</label>
              </h2>
              <div class='select'>
                {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                <select
                  name='sort_by'
                  class='facet-filters__sort select__select caption-large'
                  id='SortBy'
                  aria-describedby='a11y-refresh-page-message'
                >
                  {%- for option in collection.sort_options -%}
                    <option
                      value='{{ option.value | escape }}'
                      {% if option.value == sort_by %}
                        selected='selected'
                      {% endif %}
                    >
                      {{ option.name | escape }}
                    </option>
                  {%- endfor -%}
                </select>
                <span class='svg-wrapper'>
                  {{- 'icon-caret.svg' | inline_asset_content -}}
                </span>
              </div>
            </div>
          </div>

          <div class='product-count-vertical light' role='status'>
            <h2 class='product-count__text text-body'>
              <span id='ProductCountDesktop'>
                {%- if collection.results_count -%}
                  {{
                    'templates.search.results_with_count'
                    | t: terms: collection.terms, count: collection.results_count
                  }}
                {%- elsif collection.products_count == collection.all_products_count -%}
                  {{ 'products.facets.product_count_simple' | t: count: collection.products_count }}
                {%- else -%}
                  {{
                    'products.facets.product_count'
                    | t: product_count: collection.products_count, count: collection.all_products_count
                  }}
                {%- endif -%}
              </span>
            </h2>
            {%- render 'loading-spinner' -%}
          </div>
        </form>
      </facet-filters-form>
    {%- endif -%}

    <div class='{% if section.settings.filter_type == 'vertical' %} facets-vertical{% endif %} w-full px-4'>
      {{ 'component-facets.css' | asset_url | stylesheet_tag }}
      <script src='{{ 'facets.js' | asset_url }}' defer='defer'></script>
      {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
        <aside
          aria-labelledby='verticalTitle'
          class='hidden facets-wrapper{% unless section.settings.enable_filtering %} facets-wrapper--no-filters{% endunless %}{% if section.settings.filter_type != 'vertical' %} max-w-7xl mx-auto px-6 md:px-20{% endif %}'
          id='main-collection-filters'
          data-id='{{ section.id }}'
        >
          {% render 'facets',
            results: collection,
            enable_filtering: section.settings.enable_filtering,
            enable_sorting: section.settings.enable_sorting,
            filter_type: section.settings.filter_type,
            paginate: paginate
          %}
        </aside>
      {%- endif -%}

      <div
        class='product-grid-container{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}'
        id='ProductGridContainer'
        {% if settings.animations_reveal_on_scroll %}
          data-cascade
        {% endif %}
      >
        {%- if collection.products.size == 0 -%}
          <div
            class='collection collection--empty max-w-7xl mx-auto px-6 md:px-20'
            id='product-grid'
            data-id='{{ section.id }}'
          >
            <div class='loading-overlay gradient'></div>
            <div class='title-wrapper center'>
              <h2 class='title title--primary'>
                {{ 'sections.collection_template.empty' | t -}}
                <br>
                {{
                  'sections.collection_template.use_fewer_filters_html'
                  | t: link: collection.url, class: 'underlined-link link'
                }}
              </h2>
            </div>
          </div>
        {%- else -%}
          <div
            class='collection w-full'
          >
            <div class='loading-overlay gradient'></div>
            <ul
              id='product-grid'
              data-id='{{ section.id }}'
              class='grid grid-flow-row-dense grid-cols-2 lg:grid-cols-4 gap-1 w-full{% if section.settings.quick_add == "bulk" %} collection-quick-add-bulk{% endif %}'
            >
              {% assign skip_card_product_styles = false %}

              {%- for product in collection.products -%}
                {% assign lazy_load = false %}
                {%- if forloop.index > 2 -%}
                  {%- assign lazy_load = true -%}
                {%- endif -%}

                <li
                  class='relative !col-span-1{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}'
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style='--animation-order: {{ forloop.index }};'
                  {% endif %}
                >
                  {% render 'card-product',
                    card_product: product,
                    media_aspect_ratio: section.settings.image_ratio,
                    image_shape: section.settings.image_shape,
                    show_secondary_image: section.settings.show_secondary_image,
                    show_vendor: section.settings.show_vendor,
                    show_rating: section.settings.show_rating,
                    lazy_load: lazy_load,
                    skip_styles: skip_card_product_styles,
                    quick_add: section.settings.quick_add,
                    stretched_link: true,
                    external_link_wrapper: true,
                    section_id: section.id
                  %}
                  <a
                    href='{{ product.url }}'
                    aria-label='{{ product.title | escape }}'
                    class='absolute inset-0 z-20 block focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-current'
                  ></a>
                </li>
                {%- assign skip_card_product_styles = true -%}
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endpaginate -%}
  {% if section.settings.image_shape == 'arch' %}
    {{ 'mask-arch.svg' | inline_asset_content }}
  {%- endif -%}
</div>
