{% comment %}
  Dynamic Color Variant Rendering
  Extracts product variants from metafields and renders color pills
{% endcomment %}

{% comment %}
  // Example content of the metafield `product.metafields.module.product_variants`
  {
    "entries": [{
      "url": "https://www.graymattersnyc.com/products/egg-mules-bianco",
      "gid": "gid://shopify/Product/4418476769385",
      "product_id": 131
    }, {
      "url": "https://www.graymattersnyc.com/products/egg-mules-cera",
      "gid": "gid://shopify/Product/4875640340585",
      "product_id": 133
    }]
  }
{% endcomment %}

{% assign variants_metafield = product.metafields.module.product_variants %}
{% assign variant_entries = blank %}

{% if variants_metafield != blank %}
  {% if variants_metafield.value != blank and variants_metafield.value.entries != blank %}
    {% assign variant_entries = variants_metafield.value.entries %}
  {% elsif variants_metafield.entries != blank %}
    {% assign variant_entries = variants_metafield.entries %}
  {% else %}
    {% assign parsed_metafield = variants_metafield | parse_json %}
    {% if parsed_metafield != blank and parsed_metafield.entries != blank %}
      {% assign variant_entries = parsed_metafield.entries %}
    {% endif %}
  {% endif %}
{% endif %}

{% assign border_class = 'cursor-pointer' %}
{% assign margin_class = 'mr-2' %}
{% assign blank_color_hex = '#ff00bb' %}
{% assign default_color_hex = '#ffffff' %}

{% comment %} Current product: image metafield `module.product_color_img1` {% endcomment %}
{% assign current_color_image_raw = product.metafields.module.product_color_img1.value %}
{% assign current_color_image_url = '' %}
{% if current_color_image_raw != blank %}
  {% if current_color_image_raw.url != blank %}
    {% assign current_color_image_url = current_color_image_raw.url %}
  {% else %}
    {% assign current_color_image_url = current_color_image_raw %}
  {% endif %}
{% endif %}

{% comment %} Current product: colors (sentinel `#ff00bb` = empty) {% endcomment %}
{% assign raw_primary = product.metafields.custom.primary_color.value
  | default: product.metafields.custom.primary_color
  | default: ''
  | strip
%}
{% assign raw_secondary = product.metafields.custom.secondary_color.value
  | default: product.metafields.custom.secondary_color
  | default: ''
  | strip
%}
{% assign primary_hex = '' %}
{% assign secondary_hex = '' %}
{% assign blank_cmp = blank_color_hex | downcase %}
{% if raw_primary != blank %}
  {% assign raw_primary_lc = raw_primary | downcase %}
  {% if raw_primary_lc != blank_cmp %}
    {% assign primary_hex = raw_primary %}
  {% endif %}
{% endif %}
{% if raw_secondary != blank %}
  {% assign raw_secondary_lc = raw_secondary | downcase %}
  {% if raw_secondary_lc != blank_cmp %}
    {% assign secondary_hex = raw_secondary %}
  {% endif %}
{% endif %}

<div class='flex flex-row'>
  {% comment %} Render current product pill {% endcomment %}
  <div class='w-5 h-5 rounded-full overflow-hidden flex flex-col {{ border_class }} {{ margin_class }}'>
    {% if primary_hex != blank and secondary_hex != blank %}
      <div class='w-full h-1/2' style='background-color: {{ primary_hex }};'></div>
      <div class='w-full h-1/2' style='background-color: {{ secondary_hex }};'></div>
    {% elsif primary_hex != blank %}
      <div class='w-full h-full' style='background-color: {{ primary_hex }};'></div>
    {% elsif secondary_hex != blank %}
      <div class='w-full h-full' style='background-color: {{ secondary_hex }};'></div>
    {% elsif current_color_image_url != blank %}
      <div
        class='w-full h-full bg-cover bg-center'
        style='background-image: url({{ current_color_image_url | escape }});'
      ></div>
    {% else %}
      <div class='w-full h-full' style='background-color: {{ default_color_hex }};'></div>
    {% endif %}
  </div>

  {% if variant_entries != blank %}
    {% for entry in variant_entries %}
      {% assign variant_handle = blank %}
      {% assign variant_relative_url = '' %}
      {% if entry.url != blank %}
        {% assign variant_handle = entry.url | split: '/products/' | last %}
        {% assign variant_handle = variant_handle | split: '?' | first %}
        {% assign variant_handle = variant_handle | split: '#' | first %}
        {% assign variant_handle = variant_handle | strip %}

        {% comment %} Convert absolute URL to relative URL {% endcomment %}
        {% if variant_handle != blank %}
          {% assign variant_relative_url = '/products/' | append: variant_handle %}
        {% endif %}
      {% endif %}

      {% if variant_handle != blank and variant_relative_url != blank %}
        {% comment %} Skip if this variant is the current product {% endcomment %}
        {% if variant_handle == product.handle %}
          {% continue %}
        {% endif %}

        {% assign variant_product = all_products[variant_handle] %}

        {% if variant_product != blank %}
          {% assign variant_color_image_raw = variant_product.metafields.module.product_color_img1.value %}
          {% assign variant_color_image_url = '' %}
          {% if variant_color_image_raw != blank %}
            {% if variant_color_image_raw.url != blank %}
              {% assign variant_color_image_url = variant_color_image_raw.url %}
            {% else %}
              {% assign variant_color_image_url = variant_color_image_raw %}
            {% endif %}
          {% endif %}

          {% assign v_raw_primary = variant_product.metafields.custom.primary_color.value
            | default: variant_product.metafields.custom.primary_color
            | default: ''
            | strip
          %}
          {% assign v_raw_secondary = variant_product.metafields.custom.secondary_color.value
            | default: variant_product.metafields.custom.secondary_color
            | default: ''
            | strip
          %}
          {% assign variant_primary_hex = '' %}
          {% assign variant_secondary_hex = '' %}
          {% if v_raw_primary != blank %}
            {% assign v_raw_primary_lc = v_raw_primary | downcase %}
            {% if v_raw_primary_lc != blank_cmp %}
              {% assign variant_primary_hex = v_raw_primary %}
            {% endif %}
          {% endif %}
          {% if v_raw_secondary != blank %}
            {% assign v_raw_secondary_lc = v_raw_secondary | downcase %}
            {% if v_raw_secondary_lc != blank_cmp %}
              {% assign variant_secondary_hex = v_raw_secondary %}
            {% endif %}
          {% endif %}

          <a
            href='{{ variant_relative_url }}'
            class='w-5 h-5 rounded-full overflow-hidden flex flex-col  mr-2'
          >
            {% if variant_primary_hex != blank and variant_secondary_hex != blank %}
              <div class='w-full h-1/2' style='background-color: {{ variant_primary_hex }};'></div>
              <div class='w-full h-1/2' style='background-color: {{ variant_secondary_hex }};'></div>
            {% elsif variant_primary_hex != blank %}
              <div class='w-full h-full' style='background-color: {{ variant_primary_hex }};'></div>
            {% elsif variant_secondary_hex != blank %}
              <div class='w-full h-full' style='background-color: {{ variant_secondary_hex }};'></div>
            {% elsif variant_color_image_url != blank %}
              <div
                class='w-full h-full bg-cover bg-center'
                style='background-image: url({{ variant_color_image_url | escape }});'
              ></div>
            {% else %}
              <div class='w-full h-full' style='background-color: {{ default_color_hex }};'></div>
            {% endif %}
          </a>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
</div>
