<!-- footer: main footer + copyright -->
<footer class='bg-gray px-6 py-10'>
  <!-- main footer -->
  <section id='footer' class='w-full'>
    <div class='foter_container w-full flex flex-col lg:flex-row'>
      <!-- col 01 footer -->
      <div class='flex flex-col w-full lg:w-1/4 mb-6 lg:mb-0 border-b border-gray-300 lg:border-0'>
        <button
          class='flex items-center justify-between w-full text-xs text-light-gray uppercase mb-6 lg:cursor-default'
          type='button'
          aria-expanded='false'
          aria-controls='footer-company-links'
          onclick="toggleFooterAccordion(this, 'footer-company-links')"
        >
          <span>
            <i class='inline lg:hidden fa-solid fa-caret-right text-dark-gray mr-2'></i>
            {{ 'sections.footer.company' | t }}
          </span>
        </button>
        <div
          class='useful-links transition-all duration-300 overflow-hidden max-h-0 lg:max-h-none lg:block'
          id='footer-company-links'
        >
          <ul class='mb-6 lg:mb-0'>
            {% for link in linklists.company.links %}
              <li class='text-xs text-dark-gray mb-3'>
                <a href='{{ link.url }}'>{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <!-- col 02 footer -->
      <div class='flex flex-col w-full lg:w-1/4 mb-6 lg:mb-0 border-b border-gray-300 lg:border-0'>
        <button
          class='flex items-center justify-between w-full text-xs text-light-gray uppercase mb-6 lg:cursor-default'
          type='button'
          aria-expanded='false'
          aria-controls='footer-client-links'
          onclick="toggleFooterAccordion(this, 'footer-client-links')"
        >
          <span>
            <i class='inline lg:hidden fa-solid fa-caret-right text-dark-gray mr-2'></i>
            {{ 'sections.footer.client-service' | t }}
          </span>
        </button>
        <div
          class='useful-links transition-all duration-300 overflow-hidden max-h-0 lg:max-h-none lg:block'
          id='footer-client-links'
        >
          <ul class='mb-6 lg:mb-0'>
            {% for link in linklists['client-services'].links %}
              <li class='text-xs text-dark-gray mb-3'>
                <a href='{{ link.url }}'>{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <!-- col 03 footer -->
      <div class='flex flex-col w-full lg:w-1/4 mb-6 lg:mb-0 border-b border-gray-300 lg:border-0'>
        <button
          class='flex items-center justify-between w-full text-xs text-light-gray uppercase mb-6 lg:cursor-default'
          type='button'
          aria-expanded='false'
          aria-controls='footer-connect-links'
          onclick="toggleFooterAccordion(this, 'footer-connect-links')"
        >
          <span>
            <i class='inline lg:hidden fa-solid fa-caret-right text-dark-gray mr-2'></i>
            {{ 'sections.footer.connect' | t }}
          </span>
        </button>
        <div
          class='useful-links transition-all duration-300 overflow-hidden max-h-0 lg:max-h-none lg:block'
          id='footer-connect-links'
        >
          <ul class='mb-6 lg:mb-0'>
            <li class='text-xs text-dark-gray mb-3'>
              {% if request.locale.iso_code == 'en' %}
                <a href='/pages/brand-stories'>{{ 'sections.footer.brand-stories' | t }}</a>
              {% else %}
                <a href='{{ request.locale.root_url }}/pages/brand-stories'>
                  {{- 'sections.footer.brand-stories' | t -}}
                </a>
              {% endif %}
            </li>
            <li class='text-xs text-dark-gray mb-3'>
              <a href='https://www.instagram.com/graymattersnyc/?hl=en'>Instagram</a>
            </li>
            <li class='text-xs text-dark-gray mb-3'><a href='https://www.facebook.com/graymattersnyc/'>Facebook</a></li>
            <li class='text-xs text-dark-gray mb-3'>
              <a href='https://www.graymattersnyc.com/pages/ladygray'>LadyGray Club</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- col 04 footer -->
      <div class='flex flex-col w-full lg:w-1/4 mb-6 lg:mb-0'>
        <div class='contact-footer'>
          <h4 class='text-xs text-light-gray uppercase mb-6'>
            {{ 'sections.footer.news' | t }}
          </h4>
          <!-- 2023-01-25 - embedded Yotpo SMSBump form -->
          {% if false %}
            {% include 'smsbump_subscription_form_embed_161235' %}
          {% endif %}
          {% if true %}
            <div class='about-footer newsletter'>
              <p class='text-xs text-dark-gray mb-3'>
                Receive 10% off your first order and be the first to know about new products, sales and events.
              </p>

              {% assign footer_form_id = 'footer_form' %}
              {% form 'customer', id: footer_form_id, novalidate: 'novalidate' %}
                {%- if form.posted_successfully? -%}
                  <p class='form-message form-message--success' tabindex='-1' data-form-status>
                    {{ 'general.newsletter_form.confirmation' | t }}
                  </p>
                {%- endif -%}

                <div class='form-group flex flex-row items-end mb-3'>
                  <label class='text-xs text-dark-gray mr-4'>Name</label>
                  <input
                    type='text'
                    class='form-control bg-transparent border-b border-gray-300 flex-1'
                    id='{{ footer_form_id }}-name'
                    value='{{ form.name }}'
                    placeholder=''
                    name='contact[name]'
                  >
                </div>
                {% if false %}
                  <div class='form-group'>
                    <label class='footer-label--size'>Mobile nr.</label>
                    <input
                      type='text'
                      class='form-control'
                      id='{{ footer_form_id }}-phone'
                      value=''
                      name='contact[phone]'
                    >
                  </div>
                {% endif %}

                <div class='form-group flex flex-row flex-nowrap items-end mb-3'>
                  <label class='text-xs text-dark-gray mr-4 '>Shoe Size</label>
                  <input
                    type='text'
                    class='form-control bg-transparent border-b border-gray-300 flex-1'
                    id='{{ footer_form_id }}-size'
                    value=''
                    name='contact[merge_fields][MMERGE7]'
                  >
                </div>

                <input type='hidden' name='contact[tags]' value='newsletter'>
                <input type='hidden' name='contact[domain]' id='{{ footer_form_id }}-domain' value='{{ shop.domain }}'>

                <div class='form-group flex flex-row items-end mb-5'>
                  <label class='text-xs text-dark-gray mr-4'>Email</label>
                  <input
                    type='email'
                    name='contact[email]'
                    id='{{ footer_form_id }}-email2343298894032'
                    class='form-control bg-transparent border-b border-gray-300 flex-1'
                    value='{{ form.email }}'
                    aria-label='{{ 'general.newsletter_form.email_placeholder' | t }}'
                    aria-required='true'
                    required
                    autocorrect='off'
                    autocapitalize='off'
                    {% if form.errors %}
                      aria-invalid='true'
                      aria-describedby='{{ footer_form_id }}-email-error'
                      data-form-status
                    {% endif %}
                  >
                  <label class='tripwire' for='email'></label>
                  <!--
                    ho aggiunto la classe hidden, nel tema vecchio questo input veniva nascosto da css con opacity 0
                  -->
                  <input
                    class='tripwire hidden'
                    autocomplete='off'
                    type='email'
                    id='{{ footer_form_id }}-email'
                    name='email'
                    placeholder='Your e-mail here'
                  >
                </div>

                <span class='input-group__btn'>
                  <button
                    type='submit'
                    class='py-4 text-xs btn btn-dark uppercase w-full newsletter__submit'
                    name='commit'
                    id='Subscribe'
                  >
                    {{ 'newsletter.submit' | t }}
                  </button>
                </span>

                {% if form.errors contains 'email' %}
                  <span id='{{ footer_form_id }}-email-error' class='input-error-message'>
                    {% include 'icon-error' %}
                    {{ form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email }}.
                  </span>
                {% endif %}
              {% endform %}
              <!-- [Shopify newsletter] -->
            </div>
          {% endif %}
        </div>
      </div>
      <!-- fine col 04 -->
    </div>
  </section>
  <!-- main footer end -->

  <!-- copyright -->
  <div class='w-full flex flex-row items-start text-dark-gray text-xs pt-4'>© 2025 Gray Matters</div>
</footer>

{% schema %}
{}
{% endschema %}
