<header class='bg-pink-300 px-4 h-12 flex flex-row items-center fixed top-0 left-0 right-0 z-50'>
  <div class='w-full flex flex-row justify-between bg-white h-full items-center'>
    <!-- hamburger -->
    <div class='flex lg:hidden w-2/12 items-start'>icona hamburger</div>
    <!-- logo -->
    <div class='flex flex-row justify-center w-10/12 lg:w-auto'>
      <a
        href='{{  routes.root_url }}'
        class='site-header__logo-image{% if section.settings.align_logo == 'center' %} site-header__logo-image--centered{% endif %}'
      >
        <img
          src='/cdn/shop/files/logo_d372fcc9-f883-42eb-be88-ef6796c08b5b_180x.png?v=1614331262'
          width='180'
          height='60'
          alt='{{ shop.name }} logo'
        >
      </a>
    </div>
    <!-- menu + icons -->
    <div class='flex flex-row items-end h-full w-2/12 lg:w-auto'>
      <!-- menu -->
      <nav class='hidden lg:flex flex-row items-center justify-center gap-1 text-black mr-10 h-full'>
        <div class='relative group h-full'>
          <a
            href='{{ routes.collections_url }}'
            class='h-full inline-flex items-center px-7 hover:opacity-70 hover:bg-gray-200 group-hover:bg-gray-200 transition-all duration-200 ease-out proxima-reg text-sm tracking-wider uppercase'
            >Collection</a
          >
          <div class='absolute left-0 top-full mt-0 hidden group-hover:block group-focus-within:block z-50'>
            <ul class='min-w-[200px] bg-gray-100 text-black py-2'>
              <li>
                <a
                  href='{{ routes.all_products_collection_url }}'
                  class='block px-4 py-2 proxima-reg text-sm tracking-wider uppercase hover:opacity-70 transition-opacity'
                  >all</a
                >
              </li>
              <li>
                <a
                  href='{{ routes.collections_url }}/the-latest'
                  class='block px-4 py-2 proxima-reg text-sm tracking-wider uppercase hover:opacity-70 transition-opacity'
                  >the latest</a
                >
              </li>
              <li>
                <a
                  href='{{ routes.collections_url }}/classic'
                  class='block px-4 py-2 proxima-reg text-sm tracking-wider uppercase hover:opacity-70 transition-opacity'
                  >classic</a
                >
              </li>
              <li>
                <a
                  href='{{ routes.collections_url }}/flats'
                  class='block px-4 py-2 proxima-reg text-sm tracking-wider uppercase hover:opacity-70 transition-opacity'
                  >flats</a
                >
              </li>
              <li>
                <a
                  href='{{ routes.collections_url }}/boots'
                  class='block px-4 py-2 proxima-reg text-sm tracking-wider uppercase hover:opacity-70 transition-opacity'
                  >boots</a
                >
              </li>
            </ul>
          </div>
        </div>

        <a
          href='/pages/select-language'
          class='h-full inline-flex items-center px-7 hover:opacity-70 hover:bg-gray-200 transition-all duration-200 ease-out proxima-reg text-sm tracking-wider uppercase'
          >Select language</a
        >

        <a
          href='/pages/client-service'
          class='h-full inline-flex items-center px-7 hover:opacity-70 hover:bg-gray-200 transition-all duration-200 ease-out proxima-reg text-sm tracking-wider uppercase'
          >Client Service</a
        >
      </nav>
      <!-- icons -->
      <div class='flex items-center justify-end gap-0 lg:gap-8 text-black h-full w-full lg:w-auto'>
        <a
          href='/pages/wishlist'
          aria-label='Wishlist'
          class='hidden lg:flex hover:opacity-70 transition-opacity duration-200 ease-out'
        >
          <i class='fa-solid fa-heart' aria-hidden='true'></i>
        </a>
        <a
          href='{{ routes.cart_url }}'
          class='relative hover:opacity-70 transition-opacity duration-200 ease-out'
          aria-label='{{ 'templates.cart.cart' | t }}'
        >
          <i class='fa-solid fa-cart-shopping' aria-hidden='true'></i>
          {% if cart.item_count > 0 %}
            <span class='absolute -top-2 -right-2 text-[10px] bg-black text-white rounded-full px-1 leading-none'>
              {{- cart.item_count -}}
            </span>
          {% endif %}
        </a>
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <a
              href='{{ routes.account_url }}'
              aria-label='{{ 'customer.account_fallback' | t }}'
              class='hidden lg:flex hover:opacity-70 transition-opacity duration-200 ease-out'
            >
              <i class='fa-regular fa-user' aria-hidden='true'></i>
            </a>
          {% else %}
            <a
              href='{{ routes.account_login_url }}'
              aria-label='{{ 'customer.log_in' | t }}'
              class='hidden lg:flex hover:opacity-70 transition-opacity duration-200 ease-out'
            >
              <i class='fa-regular fa-user' aria-hidden='true'></i>
            </a>
          {% endif %}
        {% endif %}
        <a
          href='{{ routes.search_url }}'
          aria-label='{{ 'general.search.search' | t }}'
          class='hidden lg:flex hover:opacity-70 transition-opacity duration-200 ease-out'
        >
          <i class='fa-solid fa-magnifying-glass' aria-hidden='true'></i>
        </a>
        {% if settings.social_instagram_link != blank %}
          <a
            href='https://instagram.com/graymattersnyc'
            target='_blank'
            aria-label='Instagram'
            class='hover:opacity-70 transition-opacity duration-200 ease-out'
          >
            <i class='fa-brands fa-instagram' aria-hidden='true'></i>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</header>
<div class='h-12'></div>
