<style>
  @media (orientation: portrait) {
    #video-hero-mobile-landscape1 {
      display: none !important;
    }
    #video-hero-mobile-landscape {
      display: block !important;
    }
    #video-hero-mobile-portrait > div:first-child {
      position: relative !important;
      padding-bottom: 177% !important;
      height: 0 !important;
    }
    #video-hero-mobile-portrait > div:first-child > * {
      position: absolute !important;
      top: 0 !important;
      left: 0 !important;
      width: 100% !important;
      height: 100% !important;
      min-width: unset !important;
      min-height: unset !important;
      transform: none !important;
    }
    #video-hero-mobile-portrait > div:nth-child(2) {
      position: absolute !important;
      bottom: 40vh !important;
    }
  }
  @media (orientation: landscape) and (max-width: 815px) {
    #video-hero-mobile-portrait {
      display: none !important;
    }
    #video-hero-mobile-landscape {
      padding-bottom: 0 !important;
    }
    #video-hero-mobile-landscape > div:nth-child(2) {
      position: absolute !important;
      bottom: 30vh !important;
      width: 70% !important;
    }
  }
  [data-pf-type='Heading'] a,
  span {
    color: inherit !important;
  }
  .pf-iframe-wrapper {
    padding-bottom: 180% !important;
  }
</style>
<div data-pf-editor-version='legacy' class='sc-jeyqhx jfeuyL __pf __pf_obeEpPPV' id='__pf'>
  <div data-pf-type='Body' class='sc-djTQOc ejtSSi pf-202_'>
    <div data-pf-type='Layout' class='sc-fatbYi kUsjkM pf-203_'>
      <div
        data-section-id='pf-feaf'
        data-pf-type='Section'
        class='sc-epRwmx cpmRjY pf-204_ pf-color-scheme-1 pf-sm-hide pf-hide'
      >
        <div class='sc-djVWQC dKziBg'>
          <div
            class='sc-tafSX ePbmtR pf-205_ pf-r pf-c-cm pf-r-eh pf-sm-hide pf-hide'
            style='--s-xs:15px;--s-md:0px;position:relative'
            data-href='/products/clara-pumps-taupe'
            data-target='_self'
            data-pf-type='Row'
          >
            <div class='pf-c' style='--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12'>
              <div
                data-href='/products/clara-pumps-taupe'
                data-target='_self'
                data-pf-type='Column'
                class='sc-pKreJ bIaXH pf-206_'
              >
                <div
                  data-href='/products/clara-pumps-taupe'
                  data-target='_self'
                  data-pf-type='Block'
                  class='sc-cgjCoP dOTEZX pf-207_'
                >
                  <h3
                    data-pf-type='Heading'
                    class='sc-kOHUsU fHbtje pf-208_ pf-heading-1-h3 custom-font pf-sm-hide pf-hide'
                  >
                    <a data-link='inherit' href='/products/clara-pumps-taupe' target='_self'
                      ><span data-pf-type='Text' class='sc-cRmpXP cGRimR pf-210_'
                        ><strong>_A SHOPPING DAY</strong></span
                      ></a
                    >
                  </h3>
                  <a
                    href='/products/clara-pumps-taupe'
                    target='_self'
                    data-pf-type='Button'
                    class='sc-cwHqhk iHTtwH pf-211_ pf-button-1 pf-sm-hide pf-hide'
                    ><span data-pf-type='Text' class='sc-cRmpXP cGRimR pf-213_'
                      ><b><strong>EXPLORE</strong></b></span
                    ></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-section-id='pf-d84b' data-pf-type='Section' class='sc-epRwmx cpmRjY pf-281_ pf-lg-hide pf-md-hide'>
        <div style='--cw:1170px' class='sc-djVWQC dKziBg'>
          <div
            class='sc-tafSX ePbmtR pf-282_ pf-r pf-r-eh pf-lg-hide pf-md-hide'
            style='--s-xs:15px;position:relative'
            data-pf-type='Row'
          >
            <div class='pf-c' style='--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12'>
              <div data-pf-type='Column' class='sc-pKreJ bIaXH pf-283_'>
                <div data-pf-type='Block' class='sc-cgjCoP dOTEZX pf-284_ pf-lg-hide pf-md-hide'>
                  <h3 data-pf-type='Heading' class='sc-kOHUsU fHbtje pf-285_ pf-heading-2-h3 pf-lg-hide pf-md-hide'>
                    <span data-pf-type='Text' class='sc-cRmpXP cGRimR pf-287_'><strong>_A SHOPPING DAY</strong></span>
                  </h3>
                  <a data-pf-type='Button' class='sc-cwHqhk iHTtwH pf-288_ pf-button-1 pf-lg-hide pf-md-hide'
                    ><span data-pf-type='Text' class='sc-cRmpXP cGRimR pf-290_'><b>WATCH</b></span></a
                  >
                </div>
              </div>
            </div>
          </div>
          <div
            class='sc-tafSX ePbmtR pf-291_ pf-r pf-r-eh pf-lg-hide pf-md-hide'
            style='--s-xs:15px;position:relative'
            data-pf-type='Row'
          >
            <div class='pf-c' style='--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12'>
              <div data-pf-type='Column' class='sc-pKreJ bIaXH pf-292_'>
                <div data-pf-type='HTML.Video2' class='sc-dUYKzm eIOPDQ pf-293_ pf-lg-hide pf-md-hide'>
                  <div
                    class='pf-lazy-html-video pf-video-wrapper'
                    style='height:0px;padding-bottom:177.91666666666666%'
                  >
                    <video
                      data-src='https://cdn.shopify.com/videos/c/o/v/1848697a18774e319c9bf213ee12a79d.mov#t=0.1'
                      data-autoplay='true'
                      data-lazyloading='lazy'
                      width='100%'
                      class='pf-visibility-hidden pf-media-video'
                      type='video/1'
                      loop=''
                      playsinline=''
                      autoplay=''
                      controlsList='nodownload'
                      disablepictureinpicture=''
                    ></video>
                    <svg class='pf-play-button' width='64' height='64' viewBox='0 0 48 48'>
                      <path d="M24.0003 47.8334C37.1631 47.8334 47.8337 37.1629 47.8337 24.0001C47.8337 10.8373 37.1631 0.166748 24.0003
                      0.166748C10.8375 0.166748 0.166992 10.8373 0.166992 24.0001C0.166992 37.1629 10.8375 47.8334 24.0003 47.8334Z" fill="rgb(193, 193, 193, .61)"></path><path d="M19.667 32.6668V15.3335L32.667 24.0002L19.667 32.6668Z" fill="#fff"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        data-section-id='pf-347f'
        data-pf-type='Section'
        class='sc-epRwmx cpmRjY pf-214_ pf-color-scheme-1 pf-sm-hide pf-hide'
      >
        <div class='sc-djVWQC dKziBg'>
          <div class='sc-tafSX ePbmtR pf-215_ pf-r pf-r-eh' style='--s-xs:15px;position:relative' data-pf-type='Row'>
            <div class='pf-c' style='--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12'>
              <div data-pf-type='Column' class='sc-pKreJ bIaXH pf-216_'>
                <div
                  class='sc-hKimUj gzrnWx pf-217_ pf-r pf-r-ew'
                  style='--s-lg:5px;--ew-xs:2;--ew-sm:4;--ew-lg:7'
                  data-pf-type='CollectionListing'
                >
                  {% assign defaultCollection = collection %}
                  {% assign cHandles = 'pumps,sandals,mary-jane,flats,mules,loafers,boots' | split: ',' %}
                  {% for cHandle in cHandles %}
                    {% assign collection = collections[cHandle] %}
                    <div class='pf-c'>
                      <div
                        data-product-id='{{ product.id }}'
                        data-pf-type='CollectionBox'
                        class='sc-ha-dNQk byCuIJ pf-218_'
                      >
                        <a
                          href='{{ collection.url }}'
                          data-pf-type='CollectionImage'
                          class='sc-fHCGaJ sc-doqotK bJpqBP knHCbb pf-219_ pf-image-1'
                          ><img
                            src='{{ collection.image | img_url: 'master' }}'
                            alt='{{ collection.image.alt }}'
                            width='{{ collection.image.width }}'
                            height='{{ collection.image.height }}'
                        ></a>
                        <h3
                          data-collection-type='title'
                          data-collection-id='{{ collection.id }}'
                          data-pf-type='CollectionTitle'
                          class='sc-kdIger sc-la-DjoC jtcNSX bITVDj pf-220_ pf-heading-1-h3'
                        >
                          {{ collection.title }}
                        </h3>
                      </div>
                    </div>
                  {% endfor %}
                  {% assign collection = defaultCollection %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        data-section-id='pf-a195'
        data-pf-type='Section'
        class='sc-epRwmx cpmRjY pf-294_ pf-color-scheme-1 pf-lg-hide pf-md-hide pf-sm-hide'
      >
        <div style='--cw:1170px' class='sc-djVWQC dKziBg'>
          <div class='sc-tafSX ePbmtR pf-295_ pf-r pf-r-eh' style='--s-xs:15px;position:relative' data-pf-type='Row'>
            <div class='pf-c' style='--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12'>
              <div data-pf-type='Column' class='sc-pKreJ bIaXH pf-296_'>
                <div
                  class='sc-hKimUj gzrnWx pf-297_ pf-r pf-r-ew'
                  style='--s-lg:5px;--ew-xs:2;--ew-sm:3;--ew-md:4'
                  data-pf-type='CollectionListing'
                >
                  {% assign defaultCollection = collection %}
                  {% assign cHandles = 'mary-jane,sandals-1,slingback,pumps,flats,mules,loafers,boots' | split: ',' %}
                  {% for cHandle in cHandles %}
                    {% assign collection = collections[cHandle] %}
                    <div class='pf-c'>
                      <div
                        data-product-id='{{ product.id }}'
                        data-pf-type='CollectionBox'
                        class='sc-ha-dNQk byCuIJ pf-298_'
                      >
                        <a
                          href='{{ collection.url }}'
                          data-pf-type='CollectionImage'
                          class='sc-fHCGaJ sc-doqotK bJpqBP knHCbb pf-299_ pf-image-1 pf-lg-hide pf-md-hide'
                          ><img
                            src='{{ collection.image | img_url: 'master' }}'
                            alt='{{ collection.image.alt }}'
                            width='{{ collection.image.width }}'
                            height='{{ collection.image.height }}'
                        ></a>
                        <h3
                          data-collection-type='title'
                          data-collection-id='{{ collection.id }}'
                          data-pf-type='CollectionTitle'
                          class='sc-kdIger sc-la-DjoC jtcNSX bITVDj pf-300_ pf-heading-1-h3'
                        >
                          {{ collection.title }}
                        </h3>
                      </div>
                    </div>
                  {% endfor %}
                  {% assign collection = defaultCollection %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        data-section-id='pf-0f22'
        data-pf-type='Section'
        class='sc-epRwmx cpmRjY pf-221_ pf-color-scheme-1 pf-sm-hide pf-hide'
      >
        <div class='sc-djVWQC dKziBg'>
          <div
            class='sc-tafSX ePbmtR pf-222_ pf-r pf-c-cm pf-r-eh pf-sm-hide pf-hide'
            style='--s-xs:15px;--s-md:0px;position:relative'
            data-href='/products/clara-pumps-taupe'
            data-target='_self'
            data-pf-type='Row'
          >
            <div class='pf-c' style='--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12'>
              <div
                data-href='/products/clara-pumps-taupe'
                data-target='_self'
                data-pf-type='Column'
                class='sc-pKreJ bIaXH pf-223_'
              >
                <div
                  data-href='/products/clara-pumps-taupe'
                  data-target='_self'
                  data-pf-type='Block'
                  class='sc-cgjCoP dOTEZX pf-224_'
                >
                  <h3
                    data-pf-type='Heading'
                    class='sc-kOHUsU fHbtje pf-225_ pf-heading-1-h3 custom-font pf-sm-hide pf-hide'
                  >
                    <a data-link='inherit' href='/products/clara-pumps-taupe' target='_self'
                      ><span data-pf-type='Text' class='sc-cRmpXP cGRimR pf-227_'><strong>_70's GLAM</strong></span></a
                    >
                  </h3>
                  <a
                    href='/products/clara-pumps-taupe'
                    target='_self'
                    data-pf-type='Button'
                    class='sc-cwHqhk iHTtwH pf-228_ pf-button-1 pf-sm-hide pf-hide'
                    ><span data-pf-type='Text' class='sc-cRmpXP cGRimR pf-230_'
                      ><b><strong>EXPLORE</strong></b></span
                    ></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        data-section-id='pf-185f'
        data-pf-type='Section'
        id='pf-8f24e2af--copy-of-video-hero-mobile-portrait'
        class='sc-epRwmx cpmRjY pf-301_ pf-color-scheme-1 pf-lg-hide pf-md-hide pf-sm-hide'
      >
        <div class='sc-djVWQC dKziBg'>
          <div
            class='sc-tafSX ePbmtR pf-302_ pf-r pf-r-eh'
            style='--s-xs:0px;--s-sm:15px;position:relative'
            data-href='/products/clara-pumps-taupe'
            data-target='_self'
            data-pf-type='Row'
          >
            <div class='pf-c' style='--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12'>
              <div
                data-href='/products/clara-pumps-taupe'
                data-target='_self'
                data-pf-type='Column'
                class='sc-pKreJ bIaXH pf-303_'
              >
                <h3 data-pf-type='Heading' class='sc-kOHUsU fHbtje pf-304_ pf-heading-2-h3 pf-md-hide'>
                  <a data-link='inherit' href='/products/clara-pumps-taupe' target='_self'
                    ><span data-pf-type='Text' class='sc-cRmpXP cGRimR pf-306_'><strong>_70's GLAM</strong></span></a
                  >
                </h3>
                <a
                  href='/products/clara-pumps-taupe'
                  target='_self'
                  data-pf-type='Button'
                  class='sc-cwHqhk iHTtwH pf-307_ pf-button-1'
                  ><span data-pf-type='Text' class='sc-cRmpXP cGRimR pf-309_'><b>EXPLORE</b></span></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        data-section-id='pf-5cd5'
        data-pf-type='Section'
        class='sc-epRwmx cpmRjY pf-319_ pf-color-scheme-1 pf-lg-hide pf-md-hide pf-hide'
      >
        <div class='sc-djVWQC dKziBg'>
          <div
            class='sc-tafSX ePbmtR pf-320_ pf-r pf-r-eh'
            style='--s-xs:15px;--s-sm:0px;--s-md:15px;position:relative'
            data-href='/products/clara-pumps-taupe'
            data-target='_self'
            data-pf-type='Row'
          >
            <div class='pf-c pf-lg-hide pf-md-hide' style='--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12'>
              <div
                data-href='/products/clara-pumps-taupe'
                data-target='_self'
                data-pf-type='Column'
                class='sc-pKreJ bIaXH pf-321_ pf-lg-hide pf-md-hide'
              >
                <h3 data-pf-type='Heading' class='sc-kOHUsU fHbtje pf-322_ pf-heading-1-h3 pf-md-hide'>
                  <a data-link='inherit' href='/products/clara-pumps-taupe' target='_self'
                    ><span data-pf-type='Text' class='sc-cRmpXP cGRimR pf-324_'>_70s GLAM</span></a
                  >
                </h3>
                <a
                  href='/products/clara-pumps-taupe'
                  target='_self'
                  data-pf-type='Button'
                  class='sc-cwHqhk iHTtwH pf-325_ pf-button-1 pf-lg-hide pf-md-hide'
                  ><span data-pf-type='Text' class='sc-cRmpXP cGRimR pf-327_'><b>EXPLORE</b></span></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        data-section-id='pf-cf88'
        data-pf-type='Section'
        class='sc-epRwmx cpmRjY pf-231_ pf-color-scheme-1 pf-sm-hide pf-hide'
      >
        <div class='sc-djVWQC dKziBg'>
          <div
            class='sc-tafSX ePbmtR pf-232_ pf-r pf-c-cm pf-r-eh pf-sm-hide pf-hide'
            style='--s-xs:15px;--s-md:0px;position:relative'
            data-href='/products/egg-pumps-in-cera'
            data-target='_self'
            data-pf-type='Row'
          >
            <div class='pf-c' style='--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12'>
              <div
                data-href='/products/egg-pumps-in-cera'
                data-target='_self'
                data-pf-type='Column'
                class='sc-pKreJ bIaXH pf-233_'
              >
                <div
                  data-href='/products/egg-pumps-in-cera'
                  data-target='_self'
                  data-pf-type='Block'
                  class='sc-cgjCoP dOTEZX pf-234_'
                >
                  <h3
                    data-pf-type='Heading'
                    class='sc-kOHUsU fHbtje pf-235_ pf-heading-1-h3 custom-font pf-sm-hide pf-hide'
                  >
                    <a data-link='inherit' href='/products/egg-pumps-in-cera' target='_self'
                      ><span data-pf-type='Text' class='sc-cRmpXP cGRimR pf-237_'
                        ><strong>_ALL OF THEM, PLEASE</strong></span
                      ></a
                    >
                  </h3>
                  <a
                    href='/products/egg-pumps-in-cera'
                    target='_self'
                    data-pf-type='Button'
                    class='sc-cwHqhk iHTtwH pf-238_ pf-button-1 pf-sm-hide pf-hide'
                    ><span data-pf-type='Text' class='sc-cRmpXP cGRimR pf-240_'
                      ><b><strong>EXPLORE</strong></b></span
                    ></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        data-section-id='pf-3de3'
        data-pf-type='Section'
        id='pf-c7187bcb--copy-of-video-hero-mobile-portrait'
        class='sc-epRwmx cpmRjY pf-310_ pf-color-scheme-1 pf-lg-hide pf-md-hide pf-sm-hide'
      >
        <div class='sc-djVWQC dKziBg'>
          <div
            class='sc-tafSX ePbmtR pf-311_ pf-r pf-r-eh'
            style='--s-xs:0px;--s-sm:15px;position:relative'
            data-href='/products/egg-pumps-in-cera'
            data-target='_self'
            data-pf-type='Row'
          >
            <div class='pf-c' style='--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12'>
              <div
                data-href='/products/egg-pumps-in-cera'
                data-target='_self'
                data-pf-type='Column'
                class='sc-pKreJ bIaXH pf-312_'
              >
                <h3 data-pf-type='Heading' class='sc-kOHUsU fHbtje pf-313_ pf-heading-2-h3 pf-md-hide'>
                  <a data-link='inherit' href='/products/egg-pumps-in-cera' target='_self'
                    ><span data-pf-type='Text' class='sc-cRmpXP cGRimR pf-315_'
                      ><strong>_ALL OF THEM, PLEASE</strong></span
                    ></a
                  >
                </h3>
                <a
                  href='/products/egg-pumps-in-cera'
                  target='_self'
                  data-pf-type='Button'
                  class='sc-cwHqhk iHTtwH pf-316_ pf-button-1'
                  ><span data-pf-type='Text' class='sc-cRmpXP cGRimR pf-318_'><b>EXPLORE</b></span></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        data-section-id='pf-b609'
        data-pf-type='Section'
        class='sc-epRwmx cpmRjY pf-328_ pf-color-scheme-1 pf-lg-hide pf-md-hide pf-hide'
      >
        <div class='sc-djVWQC dKziBg'>
          <div
            class='sc-tafSX ePbmtR pf-329_ pf-r pf-r-eh'
            style='--s-xs:15px;--s-sm:0px;--s-md:15px;position:relative'
            data-href='/products/egg-pumps-in-cera'
            data-target='_self'
            data-pf-type='Row'
          >
            <div class='pf-c pf-lg-hide pf-md-hide' style='--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12'>
              <div
                data-href='/products/egg-pumps-in-cera'
                data-target='_self'
                data-pf-type='Column'
                class='sc-pKreJ bIaXH pf-330_ pf-lg-hide pf-md-hide'
              >
                <h3 data-pf-type='Heading' class='sc-kOHUsU fHbtje pf-331_ pf-heading-1-h3 pf-md-hide'>
                  <a data-link='inherit' href='/products/egg-pumps-in-cera' target='_self'
                    ><span data-pf-type='Text' class='sc-cRmpXP cGRimR pf-333_'>_ALL OF THEM, PLEASE</span></a
                  >
                </h3>
                <a
                  href='/products/egg-pumps-in-cera'
                  target='_self'
                  data-pf-type='Button'
                  class='sc-cwHqhk iHTtwH pf-334_ pf-button-1 pf-lg-hide pf-md-hide'
                  ><span data-pf-type='Text' class='sc-cRmpXP cGRimR pf-336_'><b>EXPLORE</b></span></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-section-id='pf-a893' data-pf-type='Section' class='sc-epRwmx cpmRjY pf-245_'>
        <div class='sc-djVWQC dKziBg'>
          <div class='sc-tafSX ePbmtR pf-246_ pf-r pf-r-eh' style='--s-xs:15px;position:relative' data-pf-type='Row'>
            <div class='pf-c' style='--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12'>
              <div data-pf-type='Column' class='sc-pKreJ bIaXH pf-247_'>
                <div data-pf-type='Slideshow' class='sc-hBtQOi iQKuxL pf-248_'>
                  <div
                    data-id='slider-3c6a0cea-05b2-406d-8a3b-941a0522d772-mobile'
                    class='pf-slider scrollfix'
                    style='--ss-xs:1;--ss-sm:2;--ss-md:3;--ss-lg:3'
                  >
                    <div class='pf-slide'>
                      <div
                        class='sc-leXARK cjZDDT pf-249_'
                        data-href='/pages/creative-musings'
                        data-target='_self'
                        data-pf-type='SlideshowSlide'
                      >
                        <div
                          class='sc-tafSX ePbmtR pf-250_ pf-r pf-r-eh'
                          style='--s-xs:0px;--s-sm:15px;position:relative'
                          data-href='/pages/creative-musings'
                          data-target='_self'
                          data-pf-type='Row'
                        >
                          <div class='pf-c' style='--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12'>
                            <div
                              data-href='/pages/creative-musings'
                              data-target='_self'
                              data-pf-type='Column'
                              class='sc-pKreJ bIaXH pf-251_'
                            >
                              <p class='sc-hgRQsa gNGIPQ pf-252_' data-pf-type='Paragraph4'>
                                <input type='checkbox' id='compact-e4a772a3-677c-467b-aa60-e48507a0b014'
                                ><span class='pf-paragraph-content '
                                  >Explore our personal reflections on the creative process. Our journey of discovery
                                  and&nbsp;the joy of making things.
                                </span>
                              </p>
                              <a
                                href='/pages/creative-musings'
                                target='_self'
                                data-pf-type='Button2'
                                class='sc-emIqIH hFkfQE pf-255_'
                                >CREATIVE MUSINGS</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class='pf-slide'>
                      <div
                        class='sc-leXARK cjZDDT pf-261_'
                        data-href='/pages/brand-stories-style-diaries'
                        data-target='_self'
                        data-pf-type='SlideshowSlide'
                      >
                        <div
                          class='sc-tafSX ePbmtR pf-262_ pf-r pf-r-eh'
                          style='--s-xs:0px;--s-sm:15px;position:relative'
                          data-href='/pages/brand-stories-style-diaries'
                          data-target='_self'
                          data-pf-type='Row'
                        >
                          <div class='pf-c' style='--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12'>
                            <div
                              data-href='/pages/brand-stories-style-diaries'
                              data-target='_self'
                              data-pf-type='Column'
                              class='sc-pKreJ bIaXH pf-263_'
                            >
                              <p class='sc-hgRQsa gNGIPQ pf-419_' data-pf-type='Paragraph4'>
                                <input type='checkbox' id='compact-c2708afe-44d1-4f22-ba38-2adc29d7cb0c'
                                ><span class='pf-paragraph-content '
                                  >Street style images of our brand ambassadors wearing their favorite style: customers,
                                  influencers,&nbsp;Gray Matters fans</span
                                >
                              </p>
                              <a
                                href='/pages/brand-stories-style-diaries'
                                target='_self'
                                data-pf-type='Button2'
                                class='sc-emIqIH hFkfQE pf-421_'
                                >STYLE DIARIES</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class='pf-slide'>
                      <div class='sc-leXARK cjZDDT pf-257_' data-pf-type='SlideshowSlide'>
                        <div
                          class='sc-tafSX ePbmtR pf-258_ pf-r pf-r-eh'
                          style='--s-xs:0px;--s-sm:15px;position:relative'
                          data-pf-type='Row'
                        >
                          <div class='pf-c' style='--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12'>
                            <div
                              data-href='/pages/campaign'
                              data-target='_self'
                              data-pf-type='Column'
                              class='sc-pKreJ bIaXH pf-259_'
                            >
                              <p class='sc-hgRQsa gNGIPQ pf-404_' data-pf-type='Paragraph4'>
                                <input type='checkbox' id='compact-cc37175c-a13d-4f52-9bc5-e5fb367217f4'
                                ><span class='pf-paragraph-content '
                                  >An overview of our editorial images, artistic direction&nbsp;and visual
                                  interpretation of each collection.</span
                                >
                              </p>
                              <a data-pf-type='Button2' class='sc-emIqIH hFkfQE pf-409_'>CAMPAIGNS</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class='pf-slide'>
                      <div
                        class='sc-leXARK cjZDDT pf-265_'
                        data-href='/pages/inspired-by'
                        data-target='_self'
                        data-pf-type='SlideshowSlide'
                      >
                        <div
                          class='sc-tafSX ePbmtR pf-266_ pf-r pf-r-eh'
                          style='--s-xs:0px;--s-sm:15px;position:relative'
                          data-href='/pages/inspired-by'
                          data-target='_self'
                          data-pf-type='Row'
                        >
                          <div class='pf-c' style='--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12'>
                            <div
                              data-href='/pages/inspired-by'
                              data-target='_self'
                              data-pf-type='Column'
                              class='sc-pKreJ bIaXH pf-267_'
                            >
                              <p class='sc-hgRQsa gNGIPQ pf-424_' data-pf-type='Paragraph4'>
                                <input type='checkbox' id='compact-d1af22ba-382a-4c29-97cb-0c9668f92f3b'
                                ><span class='pf-paragraph-content '
                                  >Discover the artists that inspire our work. Explore the references that always show
                                  in our moodboards.</span
                                >
                              </p>
                              <a
                                href='/pages/inspired-by'
                                target='_self'
                                data-pf-type='Button2'
                                class='sc-emIqIH hFkfQE pf-426_'
                                >INSPIRED BY</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class='pf-slide'>
                      <div
                        class='sc-leXARK cjZDDT pf-447_'
                        data-href='/pages/brand-stories-what-grounds-me'
                        data-target='_self'
                        data-pf-type='SlideshowSlide'
                      >
                        <div
                          class='sc-tafSX ePbmtR pf-446_ pf-r pf-r-eh'
                          style='--s-xs:0px;--s-sm:15px;position:relative'
                          data-href='/pages/brand-stories-what-grounds-me'
                          data-target='_self'
                          data-pf-type='Row'
                        >
                          <div class='pf-c' style='--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12'>
                            <div
                              data-href='/pages/brand-stories-what-grounds-me'
                              data-target='_blank'
                              data-pf-type='Column'
                              class='sc-pKreJ bIaXH pf-445_'
                            >
                              <p class='sc-hgRQsa gNGIPQ pf-442_' data-pf-type='Paragraph4'>
                                <input type='checkbox' id='compact-a59d85e0-bcfc-4c11-ba4c-33159f8e0a06'
                                ><span class='pf-paragraph-content '
                                  >What grounds our creative community during a difficult time? Explore their thoughts
                                  and reflections</span
                                >
                              </p>
                              <a
                                href='/pages/brand-stories-what-grounds-me'
                                target='_self'
                                data-pf-type='Button2'
                                class='sc-emIqIH hFkfQE pf-444_'
                                >WHAT GROUNDS ME</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class='pf-slide'>
                      <div
                        class='sc-leXARK cjZDDT pf-455_'
                        data-href='/pages/together-matters'
                        data-target='_self'
                        data-pf-type='SlideshowSlide'
                      >
                        <div
                          class='sc-tafSX ePbmtR pf-454_ pf-r pf-r-eh'
                          style='--s-xs:0px;--s-sm:15px;position:relative'
                          data-href='/pages/together-matters'
                          data-target='_self'
                          data-pf-type='Row'
                        >
                          <div class='pf-c' style='--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12'>
                            <div
                              data-href='/pages/together-matters'
                              data-target='_blank'
                              data-pf-type='Column'
                              class='sc-pKreJ bIaXH pf-453_'
                            >
                              <p class='sc-hgRQsa gNGIPQ pf-450_' data-pf-type='Paragraph4'>
                                <input type='checkbox' id='compact-75b08eb2-6b4c-47d6-9450-f35635bdaaa9'
                                ><span class='pf-paragraph-content '
                                  >Collaborations, conversations, creative exchanges: discover some of the initiatives
                                  that involved other brands, retail partners and artists</span
                                >
                              </p>
                              <a
                                href='/pages/together-matters'
                                target='_self'
                                data-pf-type='Button2'
                                class='sc-emIqIH hFkfQE pf-452_'
                                >TOGETHER MATTERS</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button
                      type='button'
                      style='visibility:hidden'
                      aria-label='Previous'
                      class='pf-slider-prev nav-style-1 '
                    ></button
                    ><button
                      type='button'
                      style='visibility:hidden'
                      aria-label='Next'
                      class='pf-slider-next nav-style-1 '
                    ></button>
                    <div class='pf-slider-nav pagination-style-1'></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        data-section-id='pf-72be'
        data-pf-type='Section'
        class='sc-epRwmx cpmRjY pf-337_ pf-color-scheme-1 pf-lg-hide pf-md-hide pf-sm-hide pf-hide'
      >
        <div class='sc-djVWQC dKziBg'>
          <div
            class='sc-tafSX ePbmtR pf-338_ pf-r pf-r-eh pf-lg-hide pf-md-hide'
            style='--s-xs:0px;--s-sm:15px;position:relative'
            data-href='/pages/brand-stories'
            data-target='_self'
            data-pf-type='Row'
          >
            <div class='pf-c' style='--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12'>
              <div
                data-href='/pages/brand-stories'
                data-target='_blank'
                data-pf-type='Column'
                class='sc-pKreJ bIaXH pf-339_'
              >
                <h3 data-pf-type='Heading' class='sc-kOHUsU fHbtje pf-340_ pf-heading-1-h3'>
                  <a data-link='inherit' href='/pages/brand-stories' target='_self'
                    ><span data-pf-type='Text' class='sc-cRmpXP cGRimR pf-342_'
                      ><span style='font-weight: bold;'><strong>EXPLORE THE WORLD OF GRAY MATTERS</strong></span></span
                    ></a
                  >
                </h3>
                <p class='sc-feopBa gVincu pf-343_ pf-text-1' data-pf-type='Paragraph'>
                  <span data-pf-type='Text' class='sc-cRmpXP cGRimR pf-345_'
                    ><a href='/pages/brand-stories' target='_blank'
                      ><strong
                        >REIMAGINING GRAY MATTERS CAMPAIGNS ALONGSIDE INTERVIEWS AND PROJECTS FROM THE CREATIVE
                        COMMUNITY.</strong
                      ></a
                    ></span
                  >
                </p>
                <a
                  href='/pages/brand-stories'
                  target='_blank'
                  data-pf-type='Button'
                  class='sc-cwHqhk iHTtwH pf-346_ pf-button-1'
                  ><span data-pf-type='Text' class='sc-cRmpXP cGRimR pf-348_'
                    ><span style='font-weight: bold;'><strong>READ OUR BRAND STORIES</strong></span></span
                  ></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        data-section-id='pf-5602'
        data-pf-type='Section'
        class='sc-epRwmx cpmRjY pf-381_ pf-color-scheme-1 pf-lg-hide pf-md-hide pf-sm-hide pf-hide'
      >
        <div class='sc-djVWQC dKziBg'>
          <div class='sc-tafSX ePbmtR pf-382_ pf-r pf-c-cm' style='--s-xs:0px;position:relative' data-pf-type='Row'>
            <div class='pf-c' style='--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12'>
              <div data-pf-type='Column' class='sc-pKreJ bIaXH pf-383_'>
                <div
                  data-slider="{'slidesToShow':{'all':3,'laptop':3,'tablet':2,'mobile':1},'slidesToScroll':{'all':1,'laptop':1,'tablet':1,'mobile':1},'loop':false,'autoPlay':false,'autoPlayDelay':3000,'pauseOnHover':false,'id':'dba90d08-92c2-4007-9879-c40eb8b05fc3'}"
                  class='sc-bcSJDS ezNXrm pf-384_'
                  style='visibility:hidden;height:540px'
                  data-pf-type='Slider'
                >
                  <div class='glider' style='--g-xs:0px;--g-md:15px'>
                    <div class='glide-wrapper'>
                      <div class='sc-iQbOXA llkJEK pf-385_' data-pf-type='Carousel'>
                        <h3 data-pf-type='Heading' class='sc-kOHUsU fHbtje pf-386_ pf-heading-1-h3'>
                          <a data-link='inherit' href='/pages/brand-stories' target='_self'
                            ><span data-pf-type='Text' class='sc-cRmpXP cGRimR pf-388_'>BRAND STORIES</span></a
                          >
                        </h3>
                        <a
                          title='Brand Stories'
                          data-action='url'
                          href='/pages/brand-stories-1'
                          target='_blank'
                          data-pf-type='Image'
                          class='sc-iLLNPL sc-fPrdjK huUGBz iFszLQ pf-389_ pf-image-1'
                          ><img
                            src='https://cdn.shopify.com/s/files/1/0012/4079/3193/t/10/assets/crop-brand-stories-1639428994158.jpg?v=1639428995'
                            srcSet='https://cdn.shopify.com/s/files/1/0012/4079/3193/t/10/assets/crop-brand-stories-1639428994158.jpg?v=1639428995 1536w'
                            width='5000'
                            height='6250'
                            title='Brand Stories'
                        ></a>
                      </div>
                    </div>
                    <div class='glide-wrapper'>
                      <div class='sc-iQbOXA llkJEK pf-390_' data-pf-type='Carousel'>
                        <h3 data-pf-type='Heading' class='sc-kOHUsU fHbtje pf-391_ pf-heading-1-h3'>
                          <a data-link='inherit' href='/pages/brand-stories-what-grounds-me' target='_self'
                            ><span data-pf-type='Text' class='sc-cRmpXP cGRimR pf-393_'>WHAT GROUNDS ME</span></a
                          >
                        </h3>
                        <a
                          data-action='url'
                          href='https://www.graymattersnyc.com/pages/brand-stories-what-grounds-me'
                          target='_self'
                          data-pf-type='Image'
                          class='sc-iLLNPL sc-fPrdjK huUGBz iFszLQ pf-394_ pf-image-1'
                          ><img
                            src='https://cdn.shopify.com/s/files/1/0012/4079/3193/t/10/assets/_54a4581-1639427922850.jpg?v=1639427924'
                            srcSet='https://cdn.shopify.com/s/files/1/0012/4079/3193/t/10/assets/_54a4581-1639427922850.jpg?v=1639427924 1536w'
                            width='2000'
                            height='2500'
                        ></a>
                      </div>
                    </div>
                    <div class='glide-wrapper'>
                      <div class='sc-iQbOXA llkJEK pf-395_' data-pf-type='Carousel'>
                        <h3 data-pf-type='Heading' class='sc-kOHUsU fHbtje pf-396_ pf-heading-1-h3'>
                          <a data-link='inherit' href='/pages/brand-stories-style-diaries' target='_blank'
                            ><span data-pf-type='Text' class='sc-cRmpXP cGRimR pf-398_'
                              >GRAY MATTERS STYLE DIARIES</span
                            ></a
                          >
                        </h3>
                        <div
                          class='sc-tafSX ePbmtR pf-399_ pf-r'
                          style='--s-xs:15px;--s-lg:0px;position:relative'
                          data-pf-type='Row'
                        >
                          <div class='pf-c' style='--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12'>
                            <div data-pf-type='Column' class='sc-pKreJ bIaXH pf-400_'>
                              <a
                                title='Brand Stories - Style Diaries'
                                data-action='url'
                                href='/pages/brand-stories-style-diaries'
                                target='_blank'
                                data-pf-type='Image'
                                class='sc-iLLNPL sc-fPrdjK huUGBz iFszLQ pf-401_ pf-image-1'
                                ><img
                                  src='https://cdn.shopify.com/s/files/1/0012/4079/3193/t/10/assets/croped-hannah-image-1639427583516.jpg?v=1639427585'
                                  srcSet='https://cdn.shopify.com/s/files/1/0012/4079/3193/t/10/assets/croped-hannah-image-1639427583516.jpg?v=1639427585 1536w'
                                  width='5000'
                                  height='6250'
                                  title='Brand Stories - Style Diaries'
                              ></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class='glider-dots glider-d-1'></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  !function(){
    window.__pagefly_page_setting__ = {"pageTitle":"HP 12_28_25 - shopping scene","pageType":"home","pageId":"b55cddc6-3a7c-4d9f-b90e-491d0cc7eff9","lazyLoad":false,"forceByPassGoogleLightHouse":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"useThemeJQ":false,"sectionRootType":"Section","trackingIDs":[]};
    window.__pagefly_setting__&&(window.__pagefly_setting2__=window.__pagefly_setting__),window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"4.25.7","shopDomain":"gray-matters-online-store.myshopify.com","elementData":{"pf-248_":{"autoPlay":false,"autoPlayDelay":3000,"loop":false,"slidesToShow":{"all":3,"laptop":3,"tablet":2,"mobile":1},"slidesToScroll":{"all":1,"laptop":1,"tablet":1,"mobile":1},"displayPartialItems":{"all":false,"laptop":false,"tablet":false,"mobile":false},"gutter":{"all":30,"laptop":30,"tablet":30,"mobile":16},"maxHeight":true,"pauseOnHover":false,"navStyle":"nav-style-1","paginationStyle":"pagination-style-1","id":"3c6a0cea-05b2-406d-8a3b-941a0522d772","_type":"Slideshow"}},"shopifyProxyPath":"/apps/pagefly"},window.__pagefly_setting2__&&(window.__pagefly_setting__=function _(d,b){let c={...d||{}};for(let a of Object.keys(b))b[a]instanceof Object&&(Array.isArray(b[a])&&c[a]?Object.assign(b[a],[...b[a],...c[a]]):Object.assign(b[a],_(c[a],b[a])));return Object.assign(c||{},b),c}(__pagefly_setting2__,__pagefly_setting__),delete window.__pagefly_setting2__),window.__pagefly_setting__.moneyFormat={{shop.money_format|json}}}();
</script>
{% schema %}
{
  "name": "PageFly Home Page",
  "settings": [
    {
      "type": "paragraph",
      "content": "For full configuration, [visit PageFly Editor](https://gray-matters-online-store.myshopify.com/admin/apps/pagefly/editor?id=b55cddc6-3a7c-4d9f-b90e-491d0cc7eff9&type=home)."
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
